<!doctype html>
<html>
  <head>
    <title>
      {{#if title}}
        {{title}}
      {{else}}
        Base Page Title
      {{/if}}
    </title>
    <link rel="stylesheet" href="main.css">
    {{#> head-block}}
      {{!-- Custom <head> content per page could be added. --}}
    {{/head-block}}
  </head>
  <body>
    {{#> hero-block}}
      {{!-- Hero content goes here. --}}
      <p>This is the default hero block content.</p>
      <ul>
        <li><a href="/page-one.html">Page One</a></li>
        <li><a href="/page-two.html">Page Two</a></li>
      </ul>
    {{/hero-block}}

    <footer>
      {{#> footer-block}}
        {{!-- The footer.hbs include is the default content, but can be overriden. --}}
        {{> includes/footer }}
      {{/footer-block}}
    </footer>
    <script src="/main.js"></script>
    {{#> scripts-block}}
      {{!-- custom scripts can be added --}}
    {{/scripts-block}}
  </body>
</html>
