<!doctype html>
<html>
  <head>
    <title>
      {{#if title}}
        {{title}}
      {{else}}
        Base Page Title
      {{/if}}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/main.css">
    {{#> head-block}}
      {{!-- Custom <head> content can be added --}}
    {{/head-block}}
  </head>
  <body>
    {{#> hero-block}}
      {{!-- Hero content goes here. --}}
    {{/hero-block}}

    <footer>
      {{#> footer-block}}
        {{!-- The footer.hbs include is the default content, but can be overriden. --}}
        {{> includes/footer }}
      {{/footer-block}}
    </footer>
    <script src="/main.js"></script>
    {{#> scripts-block}}
      {{!-- custom scripts can be added --}}
    {{/scripts-block}}
  </body>
</html>
